@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.drop-shadow-price {
  --tw-drop-shadow: drop-shadow(0px 0px 10px rgba(69,108,207,.5));
}

.transaction-card {
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 24px;
  border: 1px solid rgba(34, 34, 34, 0.07);
  padding: 12px 8px 8px;
  box-shadow: rgba(252, 114, 255, 0.04) 0px 0px 10px 0px, rgba(252, 114, 255, 0.12) 0px 40px 120px 0px;
  z-index: 1;
  transition: transform 250ms ease 0s;
}

.ql-toolbar {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.ql-container {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  min-height: 40vh;
}

